{% extends 'layout/mini-cv.jinja' %}

{% from 'macros/mini-cv.jinja' import mini_cv_work, mini_cv_education %}

{% block mini_cv_front %}
    <section class="profile">
        <h1>About me</h1>
        {{ profile | nl2br }}
    </section>

    <section class="work">
        <h1>Latest work experience</h1>
        {{ mini_cv_work(work[0]) }}
    </section>

    <section class="education">
        <h1>Latest education</h1>
        {{ mini_cv_education(education[0]) }}
    </section>

    <section class="skills">
        <h1>Skills</h1>
        <ul>
            {% for item in skills %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block mini_cv_back %}

    <section class="contact">
        <h1>Contact</h1>

        <img src="{{ header.picture_url }}" alt="picture" />

        <p class="name">
            {{ header.first_name }} {{ header.last_name }}
        </p>

        <p class="title">{{ header.title }}</p>

        <ul>
            {% for item in contact %}
                <li>
                    <span class="icon-{{ item.icon }}"></span> {{ item.text }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
