{% extends 'layout/sidebar.jinja' %}

{% block sidebar %}
    <section class="header">

        <img src="{{ header.picture_url }}" alt="picture" />

        <span class="name">
            {{ header.first_name }} {{ header.last_name }}
        </span>

        <p class="title">{{ header.title }}</p>

        <p class="summary">
            {{ header.summary }}
        </p>
    </section>

    <section class="interests">
        <ul>
            {% for item in interests %}
                {% set info = item.info %}
                <li>
                    <span class="icon-{{ info.icon }}"></span>{{ info.name }}
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
