{% extends 'layout/sidebar.jinja' %}

{% from 'macros/skill-level.jinja' import skill_level %}
{% import 'macros/timeline.jinja' as timeline %}

{% block sidebar %}
    <article class="header">

        <img src="{{ header.picture_url }}" alt="picture" />

        <p class="name">
            {{ header.first_name }} {{ header.last_name }}
        </p>

        <p class="title">{{ header.title }}</p>
        <p class="location">{{ header.location }}</p>

        <p class="summary">{{ header.summary }}</p>
    </article>

    <article class="contact">
        <ul>
            {% for item in contact %}
                <li>
                    <span class="icon-{{ item.icon }}"></span>
                    {% if item.href %}
                        <a href="{{ item.href }}">{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>

    <article class="interests">
        <ul>
            {% for item in interests %}
                <li>
                    <span class="icon-{{ item.icon }}"></span>
                    {{ item.name | capitalize }}
                </li>
            {% endfor %}
        </ul>
    </article>

    <article class="languages">
        {% for item in languages %}
            <div class="lang-name">{{ item.name | capitalize }}</div>
            {{ skill_level(item.level, 'sidebar-skill-level') }}
        {% endfor %}
    </article>
{% endblock %}

{% block main_content %}
    <article class="work-experience">
        <h2>Work experience</h2>
        {% call(item) timeline.timeline(work) %}
            {{ timeline.work_experience(item) }}
        {% endcall %}
    </article>
{% endblock %}
