{% extends 'layout/sidebar.jinja' %}

{% from 'macros/skill-level.jinja' import skill_continuous %}
{% import 'macros/timeline.jinja' as timeline %}

{% block sidebar %}
    <article class="header">

        <img src="{{ header.picture_url }}" alt="picture" />

        <p class="name">
            {{ header.first_name }} {{ header.last_name }}
        </p>

        <p class="title">{{ header.title }}</p>
        <p class="location">{{ header.location }}</p>

        <p class="summary">{{ header.summary }}</p>
    </article>

    <article class="contact">
        <ul>
            {% for item in contact %}
                <li>
                    <span class="icon-{{ item.icon }}"></span>
                    {% if item.href %}
                        <a href="{{ item.href }}">{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>

    <article class="interests">
        <h2>Interests:</h2>
        <ul>
            {% for item in interests %}
                <li>
                    <span class="icon-{{ item.icon }}"></span>
                    {{ item.name | capitalize }}
                </li>
            {% endfor %}
        </ul>
    </article>

    <article class="languages">
        <h2>Language skills:</h2>
        <div class="skills-list">
            {% set max_level = languages | map(attribute='level') | max %}
            {% for item in languages %}
                <div class="skill-name">{{ item.name | capitalize }}</div>
                {{ skill_continuous(item.level, max_level, 'skill-level') }}
            {% endfor %}
        </div>
    </article>

    <article class="skills">
        <h2>Skills:</h2>
        <dl>
            {% for category in skills %}
                <dt>{{ category.name }}</dt>

                <dd class="skills-list">
                    {% set max_level = category['items']
                                       | map(attribute='level') | max %}
                    {% for item in category['items'] %}
                        <div class="skill-name">{{ item.name }}</div>
                        {{ skill_continuous(item.level, max_level,
                                            'skill-level') }}
                    {% endfor %}
                </dd>
            {% endfor %}
        </dl>
    </article>
{% endblock %}

{% block main_content %}
    <article class="main-section">
        <h2>Profile</h2>
        <p>{{ profile | nl2br }}</p>
    </article>

    <article class="main-section">
        <h2>Work experience</h2>
        {% call(item) timeline.timeline(work) %}
            {{ timeline.work_item(item) }}
        {% endcall %}
    </article>

    <article class="main-section">
        <h2>Education</h2>
        {% call(item) timeline.timeline(education) %}
            {{ timeline.education_item(item) }}
        {% endcall %}
    </article>

    <article class="main-section">
        <h2>Volunteering</h2>
        {% call(item) timeline.timeline(volunteering) %}
            {{ timeline.volunteer_item(item) }}
        {% endcall %}
    </article>
{% endblock %}
