////
///     Created by Davide on 2/16/19
////

@import '../functions/getter';
@import 'lib';

@mixin icon-circle($size, $spacing-right) {
    $size: get-icon-size($size);
    $circle-size: $size + 1rem;

    padding-right: get-spacing($spacing-right);

    &::before {
        @include square($circle-size);

        border-radius: 50%;
        line-height: $circle-size;
        font-size: $size;
        text-align: center;
    }
}

@mixin icon-circle-outline($color, $size, $border-width, $spacing-right) {
    @include icon-circle($size, $spacing-right);

    &::before {
        box-sizing: content-box;
        border: $border-width solid $color;
        color: $color;
    }
}

@mixin icon-circle-solid($background, $text, $size, $spacing-right) {
    @include icon-circle($size, $spacing-right);

    &::before {
        background: $background;
        color: $text;
    }
}
