////
///     This file contains general utility mixins that don't find home anywhere
///     else
///
///     Created by Davide on 2/17/19
////

@import '../functions/getter';
@import 'icons';

///
/// Makes an element squared to a certain size
///
/// @param {number} $size - The size (both height and width)
///
@mixin square($size) {
    height: $size;
    width: $size;
}

///
/// Interests info mixin
///
@mixin interests-info($color, $background, $icon-options: ('size': large,
        'spacing-right': medium)) {

    $icon-args: map-merge($icon-options, (
        'background': $color,
        'text': $background
    ));

    @extend .no-bullet;

    li {
        margin: get-spacing(small) 0;
    }

    span[class*="icon"] {
        @include icon-circle-solid($icon-args...);
    }
}
