////
///     Created by Davide on 2/17/19
////

@import '../functions/getter';
@import '../include/lib';

@mixin skill-bullets($spacing, $size, $color) {
    @extend %circle;

    margin-right: get-spacing($spacing);
    height: $size;
    width: $size;
    background: $color;
}
