////
///     Created by Davide on 2/17/19
////

@import '../functions/getter';

@mixin skill-bullets($spacing, $size, $color) {
    margin-right: get-spacing($spacing);
    border-radius: 50%;
    height: $size;
    width: $size;
    background: $color;
}
