{% macro skill_level(level, level_style='skill-bullets') %}
    <ul class="skill-level">
        {% for n in range(level) -%}
            <li class="{{ level_style }}"></li>
        {%- endfor %}
    </ul>
{% endmacro %}
