{% macro item_heading(item, heading) %}
    <header>
        <h3 class="timeline-heading">{{ heading }}</h3>
        <p class="timeline-period">{{ item.from }} - {{ item.to }}</p>
        <p class="timeline-location">{{ item.location }}</p>
    </header>
{% endmacro %}

{% macro education_body(item) %}
    {% if item.description %}
        <div class="timeline-description">{{ item.description | nl2br }}</div>
    {% else %}
        <dl class="timeline-info">
            {% if item.thesis %}
                <dt>Thesis</dt>
                <dd>{{ item.thesis }}</dd>
            {% endif %}

            {% if item.content %}
                <dt>Program</dt>
                <dd>{{ item.content }}</dd>
            {% endif %}

            {% if item.projects %}
                <dt>Projects</dt>
                <dd>{{ item.projects }}</dd>
            {% endif %}
        </dl>
    {% endif %}
{% endmacro %}

{% macro work_body(item) %}
    {% if item.description %}
        <div class="timeline-description">{{ item.description | nl2br }}</div>
    {% else %}
        <dl class="timeline-info">
            {% if item.company['core-business'] or item.company.size %}
                <dt>Company</dt>
                <dd>
                    <dl>
                        {% if item.company['core-business'] %}
                            <dt>Core business:</dt>
                            <dd>{{ item.company['core-business'] }}</dd>
                        {% endif %}

                        {% if item.company.size %}
                            <dt>Size:</dt>
                            <dd>{{ item.company.size }}</dd>
                        {% endif %}
                    </dl>
                </dd>
            {% endif %}

            {% if item.tasks %}
                <dt>Tasks</dt>
                <dd>
                    <ul>
                        {% for task in item.tasks %}
                            <li>{{ task }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}

            {% if item.workflow %}
                <dt>Workflow and communication</dt>
                <dd>{{ item.workflow }}</dd>
            {% endif %}

            {% if item.technologies %}
                <dt>Technologies</dt>
                <dd>
                    <ul class="inline">
                        {% for bullet in item.technologies -%}
                            <li>{{ bullet }}</li>
                        {%- endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
    {% endif %}
{% endmacro %}

{% macro education_item(item) %}
    {% set heading %}
        {{ item.degree }} in {{ item.program }}
        <small>at {{ item.institution.name }}</small>
    {% endset %}
    {{ item_heading(item, heading) }}
    {{ education_body(item) }}
{% endmacro %}

{% macro work_item(item) %}
    {% set heading %}
        {{ item.role }} <small>at {{ item.company.name }}</small>
    {% endset %}
    {{ item_heading(item, heading) }}
    {{ work_body(item) }}
{% endmacro %}

{% macro timeline(items, class='timeline') %}
    <ul class="{{ class }}">
        {% for item in items %}
            <li class="timeline-item">
                {{ caller(item) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
