////
///     Created by Davide on 2/13/19
////

@import 'vendors';
@import '../functions/getter';

html, body {
    height: 100%;
}

p, ul {
    margin: 0;
}

.content-wrapper {
    @extend .grid-container;

    height: 100%;
}
