////
///     Created by Davide on 2/13/19
////

@import 'vendors';
@import '../functions/getter';
@import '../mixins/lib';

html, body {
    height: 100%;
}

@include a() {
    color: initial;
    text-decoration: underline;
}

.content-wrapper {
    @extend .grid-container;

    height: 100%;
}
