////
///     Created by Davide on 2/16/19
////

@import 'vendors';

@each $name, $fa-icon, $fa-class in $icons {
    .icon-#{$name} {
        @extend %fa-icon, .#{$fa-class};

        vertical-align: middle;

        &::before {
            display: inline-block;
            content: fa-content($fa-icon);
        }
    }
}
