////
///     This file contains miscellaneous utility styles that don't find home
///     anythere else
///
///     Created by Davide on 2/17/19
////

@import '../include/icons';
@import '../include/vendors';
@import '../functions/getter';

// Selector for all links
$a: 'a, a:active, a:link, a:visited';

// Placeholder for contact info list
%contact-info {
    @extend .no-bullet;

    li {
        margin: get-spacing(xsmall) 0;
        white-space: nowrap;
    }

    span[class*="icon"] {
        padding-right: get-spacing(small);
        font-size: get-icon-size(medium);
    }
}

// Styles for inline lists - uses bullet as separator
ul.inline {
    @extend .no-bullet;

    li {
        display: inline-block;

        & + li::before {
            padding: 0 0.3em;

            // Bullet character
            content: '\2022';
        }
    }
}
