////
///     Created by Davide on 3/8/19
////

@page {
    size: A4 portrait;
    margin: 0;
}

%print-group {
    break-inside: avoid;
}

h1, h2, h3, h4, h5, h6, dt {
    break-after: avoid;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
    }

    html {
        font-size: 10pt !important;
    }

    .content-wrapper {
        padding: 0;
    }
}
