////
///     Created by Davide on 3/8/19
////

@page {
    size: A4 portrait;
    margin: 0;
}

@media print {
    %print-group {
        break-inside: avoid;
    }

    * {
        -webkit-print-color-adjust: exact !important;
    }

    h1, h2, h3, h4, h5 {
        break-after: avoid;
    }

    html {
        font-size: 10pt !important;
    }
}
