////
///     Created by Davide on 2/13/19
////

@import 'settings/settings';

$body-font-family: 'Rubik', sans-serif;

$breakpoints: (
  xsmall: 0px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);

$breakpoint-classes: map-keys($breakpoints);

$grid-column-gutter: (
  xsmall: 20px,
  small: 25px,
  medium: 30px,
  large: 35px,
  xlarge: 40px
);
$grid-margin-gutters: $grid-column-gutter;

$xy-grid-options: (
  base-grid: true,
  margin-grid: false,
  padding-grid: true,
  block-grid: false,
  collapse: false,
  offset: false,
  vertical-grid: true,
  frame-grid: false
);
