////
///     Created by Davide on 2/13/19
////

@import 'settings/settings';
@import 'util/unit';
@import '../vendors/fontawesome/_variables.scss';

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                Vendors                                    //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
// Foundation
///////////////////////////////////////

$body-font-family: 'Rubik', sans-serif;

$breakpoints: (
  xsmall: 0px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);
$breakpoint-classes: map-keys($breakpoints);

$grid-column-gutter: (
  xsmall: 20px,
  small: 25px,
  medium: 30px,
  large: 35px,
  xlarge: 40px
);
$grid-margin-gutters: $grid-column-gutter;

$xy-grid-options: (
  base-grid: true,
  margin-grid: false,
  padding-grid: true,
  block-grid: false,
  collapse: false,
  offset: false,
  vertical-grid: true,
  frame-grid: false
);

///////////////////////////////////////
// Fontawesome
///////////////////////////////////////

$fa-font-path: '../webfonts';

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                Custom                                     //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

$icons: (
    coding: $fa-var-code,
    git: $fa-var-code-branch,
    graduation: $fa-var-graduation-cap,
    hardware: $fa-var-microchip,
    keyboard: $fa-var-keyboard,
    languages: $fa-var-language,
    music: $fa-var-guitar,
    terminal: $fa-var-terminal,
    wildlife: $fa-var-hippo
);
