////
///     Created by Davide on 2/17/19
////

@import '../functions/getter';
@import '../include/lib';
@import '../mixins/lib';

@mixin skill-bar($bar-color, $bar-height, $background: transparent) {
    background: $background;

    .skill-bar {
        height: $bar-height;
        background: $bar-color;
        vertical-align: middle;
    }
}

@mixin skill-bullets($spacing, $size, $color) {
    @extend %circle;
    @include square($size);

    margin-right: get-spacing($spacing);
    background: $color;
}

.skill-discrete {
    @extend .no-bullet;

    li {
        display: inline-block;
    }
}

.skill-bar {
    display: inline-block;
}
