////
///     Created by Davide on 2/19/19
////

@import 'util/unit';

@import '../functions/getter';
@import '../include/lib';
@import '../mixins/lib';

@mixin timeline-item($color, $spacing, $dot-size,
    $bar-width: $dot-size / 2.5) {
    position: relative;
    padding-top: 0;
    padding-left: $dot-size + $spacing;

    &::before {
        @include square($dot-size);

        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 50%;
        background: $color;

        content: '';
    }

    &::after {
        display: inline-block;
        position: absolute;
        top: $dot-size / 2;
        left: ($dot-size - $bar-width) / 2;
        bottom: -$dot-size / 2;
        border-radius: $bar-width / 2;
        width: $bar-width;
        background: $color;

        content: '';
    }

    &:last-of-type::after {
        bottom: 0;
    }
}


.timeline {
    @extend .no-bullet;
}

.timeline-period {
    margin-top: get-spacing(xsmall);
    font-size: get-font-size(large);
}

.timeline-description {
    margin-top: get-spacing(large);

    p + p {
        margin-top: get-spacing(medium);
    }
}

.timeline-info {
    margin-top: get-spacing(large);

    dt {
        font-size: get-font-size(large);
        font-weight: normal;
    }

    dd {
        margin-left: get-spacing(large);
    }

    dd + dt {
        margin-top: get-spacing(small);
    }
}
