////
///     Created by Davide on 2/13/19
////

@import 'sassdash';

@import '../components/skill-level';
@import '../components/timeline';
@import '../include/base';
@import '../include/icons';
@import '../include/lib';
@import '../include/print';
@import '../layout/sidebar';
@import '../mixins/icons';
@import '../mixins/lib';

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                               Variables                                   //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

$background: $black;
$color: $light-gray;

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                               Functions                                   //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

@function multiply-gutter($multiplier, $gutter, $_, $__) {
    @return $gutter * $multiplier;
}

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                Styles                                     //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

.sidebar {
    background: $background;
    color: $color;

    #{$a} {
        color: $color;
    }

    * {
        /* !important is for print styles */
        color: $color !important;
    }

    > * {
        @extend %print-group;

        @include xy-gutters(
            $gutter-type: padding,
            $gutter-position: top bottom,
            $gutters: _map-values($grid-column-gutters,
                _partial(multiply-gutter, 1.5))
        );
    }

    h2 {
        margin-bottom: get-spacing(small);
        font-size: get-font-size(large);
        font-weight: bold;
    }

    h3 {
        margin-bottom: get-spacing(small);
        font-size: get-font-size(medium);
    }

    .header {
        text-align: center;

        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            height: auto;
            width: 70%;
        }

        .name {
            margin-top: get-spacing(small);
            font-size: get-font-size(xlarge);
            font-weight: bold;
        }

        .location {
            font-style: italic;
        }

        .summary {
            margin-top: get-spacing(medium);
            text-align: left;
        }
    }

    .contact {
        ul {
            @extend %contact-info;
        }
    }

    .interests {
        ul {
            @extend .no-bullet;
        }

        li {
            margin: get-spacing(small) 0;
        }

        span[class*="icon"] {
            @include icon-circle-solid(
                $background: $color,
                $text: $background,
                $size: large,
                $spacing-right: medium);
        }
    }

    .skills-list {
        @extend .grid-x;
    }

    .skill-continuous {
        $bar-height: rem-calc(4px);

        @include skill-bar(
            $bar-color: $color,
            $bar-height: $bar-height
        );

        .skill-bar {
            border-radius: $bar-height * 1.5;
        }
    }

    .languages {
        .skill-name {
            @extend .cell, .xsmall-4, .large-3;
        }

        .skill-level {
            @extend .cell, .xsmall-8, .large-9;
        }
    }

    .skills {
        .skills-list {
            @include xy-gutters(
                $gutter-type: padding,
                $gutter-position: left);
            @include xy-gutters(
                $gutter-type: padding,
                $gutter-position: bottom,
                $gutters: _map-values($grid-column-gutters,
                    _partial(multiply-gutter, 0.5)));
        }

        .skill-name {
            @extend .cell, .xsmall-6, .large-5;
        }

        .skill-level {
            @extend .cell, .xsmall-6, .large-7;
        }
    }
}

.main-content {
    .main-section {
        @include xy-gutters($gutter-type: margin, $gutter-position: top);

        & + .main-section {
            @include xy-gutters(
                $gutter-type: margin,
                $gutter-position: top,
                $gutters: _map-values($grid-column-gutters,
                    _partial(multiply-gutter, 2))
            );
        }
    }

    h2 {
        margin-bottom: get-spacing(medium);
    }

    .timeline-item {
        @include timeline-item(
            $color: $black,
            $dot-size: rem-calc(30px),
            $spacing: get-spacing(xlarge)
        );
        @include xy-gutters($gutter-type: padding, $gutter-position: bottom);
    }
}
