////
///     Created by Davide on 2/13/19
////

@import 'sassdash';

@import '../components/skill-level';
@import '../components/timeline';
@import '../include/base';
@import '../include/icons';
@import '../include/lib';
@import '../layout/sidebar';
@import '../mixins/icons';
@import '../mixins/lib';
@import '../mixins/skill-level';
@import '../mixins/timeline';

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                               Variables                                   //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

$background: $black;
$color: $light-gray;

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                               Functions                                   //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

@function main-section-gutter($gutter, $_, $__) {
    @return $gutter * 2;
}

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                Styles                                     //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

.sidebar-skill-level {
    @include skill-bullets(
        $spacing: small,
        $size: rem-calc(10px),
        $color: $color);
}

.sidebar {
    @extend .grid-y, .grid-padding-y;

    justify-content: space-between;
    background: $background;
    color: $color;

    @include a() {
        color: $color;
    }

    > * {
        @extend .cell;
    }

    .header {
        text-align: center;

        img {
            @extend %circle;

            display: block;
            margin: auto;
            height: auto;
            width: 70%;
        }

        .name {
            margin-top: get-spacing(small);
            font-size: get-font-size(large);
            font-weight: bold;
        }

        .location {
            font-style: italic;
        }

        .summary {
            margin-top: get-spacing(medium);
            text-align: left;
        }
    }

    .contact {
        ul {
            @extend %list-unstyled;
        }

        li {
            margin: get-spacing(xsmall) 0;
        }

        span[class*="icon"] {
            padding-right: get-spacing(medium);
            font-size: get-icon-size(medium);
        }
    }

    .interests {
        ul {
            @extend %list-unstyled;
        }

        li {
            margin: get-spacing(small) 0;
        }

        span[class*="icon"] {
            @include icon-circle(
                $background: $color,
                $text: $background,
                $size: large,
                $spacing-right: medium);
        }
    }

    .languages {
        @extend .grid-x;

        .lang-name {
            @extend .cell, .xsmall-3;
        }

        .skill-level {
            @extend .cell, .xsmall-9;
        }
    }
}

.main-content {
    .main-section {
        @include xy-gutters($gutter-type: margin, $gutter-position: top);

        h2 {
            margin-bottom: get-spacing(medium);
        }

        & + .main-section {
            @include xy-gutters(
                $gutter-type: margin,
                $gutter-position: top,
                $gutters: _map-values($grid-column-gutters,
                    main-section-gutter)
            );
        }
    }

    .timeline-item {
        @include timeline-item(
            $color: $black,
            $dot-size: rem-calc(30px),
            $spacing: get-spacing(xlarge)
        );
        @include xy-gutters($gutter-type: padding, $gutter-position: bottom);
    }
}
