////
///     This file contains styles for the two-column-sections template
///
///     Created by Davide on 28/05/19
////

@import 'util/unit';
@import '../components/chronology';
@import '../components/skill-level';
@import '../functions/getter';
@import '../include/base';
@import '../include/lib';
@import '../include/print';
@import '../mixins/lib';

$columns-gap: rem-calc(50px);

@import 'sassdash';
@function multiply-gutter($multiplier, $gutter, $_, $__) {
    @return $gutter * $multiplier;
}
$large-gutters: _map-values($grid-column-gutters,
    _partial(multiply-gutter, 2));
$half-gutters: _map-values($grid-column-gutters,
    _partial(multiply-gutter, 0.5));

%two-columned {
    columns: 2;
    column-gap: $columns-gap;

    > * {
        @extend %print-group;
    }
}

%page-gutters {
    @include xy-gutters(
        $gutter-type: padding,
        $gutter-position: right left,
        $gutters: $large-gutters
    );
    @include xy-gutters(
        $gutter-type: padding,
        $gutter-position: top
    );
}

.header {
    @extend .grid-x, .grid-padding-x, .grid-padding-y, %print-group;

    @include xy-gutters(
        $gutter-type: padding,
        $gutter-position: right left
    );

    align-items: center;
    background: $primary-color;

    > * {
        @extend .cell;
    }

    .personal {
        @extend .medium-4;

        > p {
            margin-bottom: get-spacing(xsmall);
        }

        .name {
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
        }

        .location {
            font-style: italic;
        }
    }

    .contact {
        @extend .medium-3;

        ul {
            @extend %contact-info;
        }
    }

    .summary {
        @extend .medium-3;
    }

    .picture {
        @extend .medium-2;

        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            max-height: 13ex;
        }
    }
}

h2 {
    $border-gradient: linear-gradient(to right, $dark-gray, transparent);
    $border-width: 2px;

    margin-bottom: get-spacing(medium);
    padding-bottom: get-spacing(xsmall);
    border-bottom: $border-width solid transparent;
    border-image-source: $border-gradient;
    border-image-slice: strip-unit($border-width);
    border-image-width: 0 0 $border-width 0;
    width: 40%;
}

.intro {
    @extend %page-gutters, %print-group, %two-columned;

    .profile {
        break-inside: avoid;
    }

    .interests {
        @extend %two-columned;
        @include interests-info($black, $white);
    }
}

.main-section {
    @extend %page-gutters, %print-group;

    h2 {
        margin-bottom: get-spacing(large);
        padding-bottom: get-spacing(small);
        width: 30%;
    }

    .chronology {
        @extend %two-columned;

        $rule-width: rem-calc(2px);

        column-gap: $columns-gap - $rule-width;
        column-rule: $rule-width solid $medium-gray;
    }

    .chronology-item {
        @include xy-gutters($gutter-type: margin, $gutter-position: bottom);
    }

    .chronology-bullets li {
        margin: get-spacing(medium) 0;
    }

    .chronology-section {
        dt {
            margin-top: get-spacing(small);
        }

        dd {
            margin-bottom: get-spacing(small);
            padding-left: get-spacing(xlarge) * 2;
        }
    }
}

.skills {
    @extend .no-bullet, %page-gutters, %print-group, %two-columned;

    .skills-list {
        @extend .grid-x, .grid-padding-x;

        margin-bottom: get-spacing(medium);
    }

    .skill-name {
        @extend .cell, .xsmall-6, .large-5;
    }

    .skill-level {
        @extend .cell, .xsmall-6, .large-7;

        $bar-height: rem-calc(4px);

        @include skill-bar(
            $bar-color: $black,
            $bar-height: $bar-height
        );

        .skill-bar {
            border-radius: $bar-height * 1.5;
        }
    }
}
