////
///     This file contains styles for the two-column-sections template
///
///     Created by Davide on 28/05/19
////

@import 'util/unit';
@import '../components/chronology';
@import '../functions/getter';
@import '../include/base';
@import '../include/lib';
@import '../include/print';
@import '../mixins/lib';

$columns-gap: rem-calc(50px);

%two-columned {
    columns: 2;
    column-gap: $columns-gap;

    > * {
        @extend %print-group;
    }
}

.header {
    @extend .grid-x, .grid-padding-x, .grid-padding-y;

    align-items: center;
    background: $primary-color;

    > * {
        @extend .cell;
    }

    .personal {
        @extend .medium-4;

        > p {
            margin-bottom: get-spacing(xsmall);
        }

        .name {
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
        }

        .location {
            font-style: italic;
        }
    }

    .contact {
        @extend .medium-3;

        ul {
            @extend %contact-info;
        }
    }

    .summary {
        @extend .medium-3;
    }

    .picture {
        @extend .medium-2;

        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            max-height: 13ex;
        }
    }
}

h2 {
    $border-gradient: linear-gradient(to right, $dark-gray, transparent);
    $border-width: 2px;

    margin-bottom: get-spacing(medium);
    padding-bottom: get-spacing(xsmall);
    border-bottom: $border-width solid transparent;
    border-image-source: $border-gradient;
    border-image-slice: strip-unit($border-width);
    border-image-width: 0 0 $border-width 0;
    width: 40%;
}

.intro {
    @extend %two-columned;

    @include xy-gutters(
        $gutter-type: padding,
        $gutter-position: top right bottom left
    );

    .profile {
        break-inside: avoid;
    }

    .interests {
        @extend %two-columned;
        @include interests-info($black, $white);
    }
}

.main-section {
    @include xy-gutters(
        $gutter-type: padding,
        $gutter-position: top right bottom left
    );

    h2 {
        margin-bottom: get-spacing(large);
        padding-bottom: get-spacing(small);
        width: 30%;
    }

    .chronology {
        @extend %two-columned;

        $rule-width: rem-calc(2px);

        column-gap: $columns-gap - $rule-width;
        column-rule: $rule-width solid $medium-gray;
    }

    .chronology-item {
        @include xy-gutters($gutter-type: margin, $gutter-position: bottom);
    }

}
