{% extends 'include/base.jinja' %}

{% block body %}
    <div class="page">
        <section class="sidebar">
            {% block sidebar %}{% endblock %}
        </section>
        <section class="main-content">
            {% block main_content %}{% endblock %}
        </section>
    </div>
{%  endblock %}
