{% extends 'include/base.jinja' %}

{% block body %}
    <div class="page">
        <header class="header">{% block header %}{% endblock %}</header>
        <main class="main">{% block main %}{% endblock %}</main>
    </div>
{%  endblock %}
